/.history/
dev/
Library/
Movies/
Downloads/
Public/
Applications/
Bin/
.vscode/
.omnisharp/
.npm/
.git/
.nuget/
.ngrok2/
.mono/
.local/
.hex/
.android/
.asdf/
.azuredatastudio/
.cache/
.cargo/
.cups/
.docket/
.dotnet/
.elixir_ls
.IdentityService/
Desktop/
Postman/
Music/
Pictures/
Documents/
.rustup/
.Trash/
.cfg/
.config/exercism/
.docker/
.subversion/
.ssh/
packer_compiled.lua
